<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body class="#e0e0e0 grey lighten-2">
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">

        <h2>Cadastrar Nota</h2>

        <div class="card">
            <form th:action="${'/notes'}" method="post" th:object="${note}">
                <div class="card-content">
                    <div class="input-field">
                        <input 
                            type="text" 
                            th:field="*{title}"
                            th:classappend="${#fields.hasErrors('title')} ? invalid"
                        >
                        <label for="title">Título</label>
                        <span class="helper-text red-text" th:errors="*{title}"></span>
                    </div>
                    
                    <div class="input-field">
                        <textarea 
                            th:field="*{description}"
                            class="materialize-textarea"
                            th:classappend="${#fields.hasErrors('description')} ? invalid"
                        ></textarea>
                        <label for="description">Descrição</label>
                        <span class="helper-text red-text" th:errors="*{description}"></span>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a href="/notes" class="btn grey" th:text="#{cancel}">
                        <i class="material-icons left">chevron_left</i>
                    </a>
                    <button class="btn" th:text="#{register}">
                        <i class="material-icons left">check</i>
                    </button>
                </div>
            </form>
        </div>
    </main>
    
</body>
</html>